Package: backup-restore-tool
Version: 1.0
Section: admin
Priority: optional
Architecture: all
Depends: rsync
Maintainer: Théo Avril <theo@example.com>
Description: Outil de sauvegarde et de restauration Ubuntu utilisant rsync vers un NAS.
 Script interactif pour effectuer des sauvegardes/restaurations du système depuis ou vers un NAS.
